.footer {
  text-align: center;
  max-width: 990px;
  background-color: var(--secondary-black);
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem 1rem 0 0;
}

.footer a {
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .footer {
    font-size: 0.7rem;
  }
}
